.coinCardBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0px 50px;
    border-bottom: 1px solid #303C55;
    background: #F4F5F9;
    transition: 0.12s ease-out;
    font-family: Cera;
    cursor: pointer;
}

.coin, .price, .dailyChange, .dailyVolume, .marketCap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-basis: 10%;
}

.rank{
    flex-basis: 5%;
}

.chart{
    width: 8%;
    padding: 10px 0px;
}

.coinCardBody:hover{
    background: #fff;
}

.coinCardBody p{
    font-size: 16px;
}

.coinIcon{
    width: 24px;
}

